[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "misc/consolas-powerline-vim"]
	path = misc/consolas-powerline-vim
	url = https://github.com/eugeneching/consolas-powerline-vim
